/nbproject/private/
/debian/system.spoje.net/
/debian/system.spoje.net.debhelper.log
/debian/system.spoje.net.substvars
/build-stamp
/testing/PHPUnit/build/
/debian/flexplorer/
/vendor/
/composer.lock
/docs/
/ubuntu-xenial-16.04-cloudimg-console.log
/.vagrant/
/backups/
/configurations/