Source: flexplorer
Build-Depends: debhelper (>= 7.0.50~),po-debconf
Standards-Version: 3.8.4
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/Flexplorer

Package: flexplorer
Depends: ${misc:Depends},flexipeehp (>= 1.8.5),composer,php5-intl | php5.6-intl | php7.0-intl | php7.1-intl | php7.2-intl ,libjs-twitter-bootstrap-switch,libjs-font-awesome, php-flexibee-config
Recommends: flexibee-server
Architecture: all
Section: web
Priority: optional
Description: Vývojářský nástroj pro FlexiBee API/JSON.
 Zobrazuje obsah všech dostpných evidencí ve všech firmách
 Zobrazuje strukturu evidence
 odesílá přímé požadavky na server a zobrazuje výsledky
