#!/usr/bin/make -f

repoversion=$(shell LANG=C aptitude show flexplorer | grep Version: | awk '{print $$2}')
nextversion=$(shell echo $(repoversion) | perl -ne 'chomp; print join(".", splice(@{[split/\./,$$_]}, 0, -1), map {++$$_} pop @{[split/\./,$$_]}), "\n";')


%:
	dh $@


override_dh_prep:
	rm -rf docs; mkdir docs
	phpdoc -d src --defaultpackagename=MainPackage
	mv .phpdoc/build/* docs
	dh_prep

override_dh_install:
	dh_install
	sed -i -e 's/\.\.\//.\//g' debian/flexplorer/usr/share/flexplorer/about.php
	sed -i -e 's/..\/vendor/\/var\/lib\/composer\/flexplorer/g' debian/flexplorer/usr/share/flexplorer/includes/Init.php
	sed -i -e 's/..\/i18n/\/usr\/share\/locale/g' debian/flexplorer/usr/share/flexplorer/includes/Init.php
	sed -i -e 's/https:\/\/cdnjs.cloudflare.com\/ajax\/libs\/fuelux\/3.16.7\/css\/fuelux.css/\/javascript\/fuelux\/css\/fuelux.css/g' debian/flexplorer/usr/share/flexplorer/classes/ui/FXPreloader.php
	sed -i -e 's/https:\/\/cdnjs.cloudflare.com\/ajax\/libs\/fuelux\/3.16.7\/js\/fuelux.js/\/javascript\/fuelux\/fuelux.js/g'         debian/flexplorer/usr/share/flexplorer/classes/ui/FXPreloader.php

override_dh_clean:
	debconf-updatepo
	dh_clean

release:
	echo Release v$(nextversion)
	dch -v $(nextversion) `git log -1 --pretty=%B | head -n 1`
	debuild -i -us -uc -b
	git commit -a -m "Release v$(nextversion)"
	git tag -a $(nextversion) -m "version $(nextversion)"

